In [61]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier, ExtraTreeClassifier
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score

In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
df =pd.read_csv(r'C:\Users\JUBOB\Desktop\MLProject\Crop_recommendation.csv')

In [64]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [65]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [66]:
df['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [67]:
crop_dict={
    'rice': 1,
    'maize': 2,
    'jute': 3,
    'cotton': 4,
    'coconut': 5,
    'papaya': 6,
    'orange': 7,
    'apple': 8,
    'muskmelon': 9,
    'watermelon': 10,
    'grapes': 11,
    'mango': 12,
    'banana': 13,
    'pomegranate': 14,
    'lentil': 15,
    'blackgram': 16,
    'mungbean': 17,
    'mothbeans': 18,
    'pigeonpeas': 19,
    'kidneybeans': 20,
    'chickpea': 21,
    'coffee': 22
}

df['label'] = df['label'].map(crop_dict)

In [68]:
x = df.drop(columns=['label'])
y=df['label']

In [69]:
# Create Column Transformer with 3 types of transformers
num_columns = x.select_dtypes(exclude="object").columns
cat_columns= x.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

num_transformer = Pipeline(steps=[("scaler", StandardScaler())])
cat_transformer = Pipeline(steps=[("onehot", OneHotEncoder())])

preprocessor = ColumnTransformer(
    [
        ("cat", cat_transformer, cat_columns),
         ("num", num_transformer, num_columns),        
    ]
)

In [70]:
x =preprocessor.fit_transform(x)

In [71]:
x.shape

(2200, 7)

In [72]:
# separate dataset into train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)
x_train.shape, x_test.shape

((1760, 7), (440, 7))

In [73]:
models = {
    'LogisticRegression': LogisticRegression(),
    'GaussianNB':GaussianNB(),
    'SVC':SVC(),
    'KNeighborsClassifier':KNeighborsClassifier(),
    'DecisionTreeClassifier':DecisionTreeClassifier(),
    'ExtraTreeClassifier':ExtraTreeClassifier(),
    'RandomForestClassifier':RandomForestClassifier(),
    'BaggingClassifier':BaggingClassifier(),
    'GradientBoostingClassifier':GradientBoostingClassifier(),
    'AdaBoostClassifier':AdaBoostClassifier()
}

In [78]:
report ={}

In [80]:

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    score = accuracy_score(y_test, y_test_pred)
    print(f"{model} model with accuracy: {score}")
    report[list(models.keys())[i]]=score

LogisticRegression() model with accuracy: 0.9636363636363636
GaussianNB() model with accuracy: 0.9954545454545455
SVC() model with accuracy: 0.9681818181818181
KNeighborsClassifier() model with accuracy: 0.9590909090909091
DecisionTreeClassifier() model with accuracy: 0.9840909090909091
ExtraTreeClassifier() model with accuracy: 0.9136363636363637
RandomForestClassifier() model with accuracy: 0.9931818181818182
BaggingClassifier() model with accuracy: 0.9886363636363636
GradientBoostingClassifier() model with accuracy: 0.9818181818181818

C:\Users\JUBOB\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:527: FutureWarning: The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.
  warnings.warn(

AdaBoostClassifier() model with accuracy: 0.09545454545454546

In [81]:
report

{'LogisticRegression': 0.9636363636363636,
 'GaussianNB': 0.9954545454545455,
 'SVC': 0.9681818181818181,
 'KNeighborsClassifier': 0.9590909090909091,
 'DecisionTreeClassifier': 0.9840909090909091,
 'ExtraTreeClassifier': 0.9136363636363637,
 'RandomForestClassifier': 0.9931818181818182,
 'BaggingClassifier': 0.9886363636363636,
 'GradientBoostingClassifier': 0.9818181818181818,
 'AdaBoostClassifier': 0.09545454545454546}

In [93]:
#Extracting the highest score from our model

best_Model_score = max(sorted(report.values()))

In [84]:
best_Model_score

0.9954545454545455

In [86]:
best_model_name= list(report)[list(report.values()).index(best_Model_score)]

In [87]:
best_model_name

'GaussianNB'

In [89]:
best_model=models[best_model_name]

In [92]:
best_model.fit(x_train,y_train)

In [97]:
y_predict= best_model.predict(x_test)

In [99]:
accuracy_score(y_test, y_predict)

0.9954545454545455

array([ 9, 10,  6,  6,  8, 12,  8, 18, 17, 15, 16,  5, 14,  3,  5, 14,  8,
        2,  6,  9, 22,  6,  7,  6, 21,  3, 17,  7, 19,  1, 14, 18,  3, 15,
        3, 16,  3, 21, 21, 20,  6, 12, 16,  2, 17,  2, 19,  5,  9,  2, 16,
       22, 11, 17, 22, 20,  4,  8, 13, 16, 10,  5, 15,  7,  6, 19,  7,  1,
        9, 19,  9,  5,  3, 13, 16,  6, 13,  4, 10,  7, 22, 21,  1, 18,  7,
       12, 22, 18, 16, 14,  2, 18,  4,  6, 19, 18, 20, 22, 16, 15,  5,  1,
        7,  9, 10, 20, 10, 13, 19, 18, 13,  3,  4, 14, 19, 21,  2,  5, 14,
        1, 19, 11, 16,  5, 21, 16,  5,  2, 13, 18, 13, 20, 14, 21,  5,  7,
       19, 13, 13,  8, 20,  9, 17, 18,  5,  2,  8,  5, 20, 18, 17, 15, 10,
       17, 19, 19, 19, 20,  2,  3, 21,  8,  7,  4,  1,  5, 11, 15, 10, 11,
       11, 16, 14, 21,  5,  2, 15, 11, 10,  3, 22, 22, 20,  3, 18, 20, 13,
       20,  5,  6,  6, 17, 12, 14, 10, 20,  2,  8, 16, 21, 11, 11, 13,  4,
        1, 14, 17, 13,  3, 17,  2, 21, 21, 21,  8,  1, 20,  6, 22, 16, 20,
       12, 12,  5,  6,  8, 21, 14, 21,  9,  8,  9,  9, 12, 12,  4,  5, 14,
        1,  9, 22,  6, 18,  2, 12,  9, 19, 17, 22, 11,  5,  4, 19,  1,  8,
       14, 22, 21,  4,  3, 12, 13,  6,  8, 21,  1, 19, 18, 17,  3, 14, 11,
       18,  3,  2,  5,  2, 21, 13,  1,  5,  3, 12,  9,  8, 13, 19, 16,  7,
       21, 10, 13,  8, 21, 22, 19,  7,  8,  5,  6, 10, 18,  6, 21, 14, 21,
        6, 15,  8, 14, 21, 12, 21, 14, 10, 20, 17,  9, 10, 20,  9, 12,  1,
       16, 21, 13, 16, 19,  6, 19, 17,  5,  4, 11,  8, 15, 13,  3,  8, 14,
        8, 17,  9, 22, 22, 19,  3, 20, 13,  2,  3,  2, 19, 12, 20, 14, 10,
       16,  2,  1, 18, 20, 12,  4,  6, 18,  4, 17,  7,  3, 16, 17, 22, 13,
       19,  6,  8, 14,  2, 12,  5,  8, 15,  3, 18, 15,  5, 16,  3, 17,  4,
       10,  8, 11,  5, 11, 10,  1, 12, 12, 22, 14, 13, 11,  3,  7,  4, 12,
        6,  9, 18,  3, 21, 18, 14, 10, 18,  4,  6, 10, 18,  1,  5, 18, 18,
        2,  1,  2,  5,  7, 14, 20, 10, 17, 16,  1,  1,  4,  4, 19],
      dtype=int64)